.x-ul .x_a{padding:3px 0px 3px 80px;color: #666}
.jstree-node font{padding-top: 3px;padding-bottom: 3px;overflow: hidden;word-break: keep-all;white-space: nowrap;}
.jstree-default .jstree-node{margin-left: 0px}
.jstree-themeicon{color: #5CB85C;font-size: 20px;padding-right: 5px}

.xq_title{background: #eee;height: 40px;line-height: 40px;border-left: 5px solid #5CB85C;text-indent:10px;font-weight: bold;font-size: 14px}
.m-article .article-view .view-body{min-height: 50px;line-height: 25px;border: 1px solid #eee;margin-bottom: 10px;padding: 5px;font-size: 14px;overflow: auto;}
.prettyprint{overflow: auto;}
a font{cursor: pointer;}
.view-body table tr th,.view-body table tr td{padding: 5px;border: 1px solid #ccc; }



body{font-family: '微软雅黑';font-size: 14px}
table{width: 100%}
table th{width: 100px;padding: 5px;color: #666}
table td{padding: 5px;color: #666}
table td input{height: 30px;border:1px solid #ccc;width: 80%;border-radius: 3px;color: #666;font-family: '微软雅黑'}
table td textarea{height: 300px;border:1px solid #ccc;width: 80%;border-radius: 3px;color: #666;font-family: '微软雅黑'}
.submit{width: 100px;color: #fff;background: #5CB85C;border: none;height: 40px;line-height: 40px;cursor: pointer;}


.m-manual .manual-left{width: 350px}
